* {
	margin: 0;
	padding: 0;
}

body {

	background-image: url("../../../src/back.jpg");
	background-size: cover;
	min-height: 100vh;

}

/* first column */

.logo {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	filter: drop-shadow(10px 10px 4px #760c0c)
}

.splashColumn {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	margin-top: -50px;
}

.splash {
	object-fit: contain;
}



.linetag {
	color: black;
	margin-top: -0px;
	width: 170px;
	border: 1px solid black;

}

.tag1 {
	filter: drop-shadow(1px 1px 0.5px #760c0c);
	margin-bottom: 20px;
	font-size: 30px;
}

.tag2 {
	color: #b11b1b2b;
}

.splashcolor	{
	margin-left: 10px;
	padding: 20px;
}


/* column 2 */

.splashColumn1 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;

}

.splashTags1 {
	background-color: #b11b1b2b;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-end;
	margin-left: 20px;

}

.tag5 {
	color: white;
}

.splash1 {
	margin-left: 30px;
	width: 200px;
	height: 200px;
}

/* column 3 */

.splashTags2 {
	background-color: #b11b1b2b;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	padding-bottom: 90px;
	margin-top: -60px;
	margin-left: 50px;

}

.splash3 {
	margin-top: 50px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

}

.tag6 {
	color: white;
	margin-top: 30px;
}