body {
	background-repeat: no-repeat;
}


.cuisinetype {
	margin-top: 60px;
	padding: 10px;
}

.logo1 {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	filter: drop-shadow(10px 10px 4px #760c0c);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items:
		center;
	align-content: stretch;

}

.meditareann {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.logo3 {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	filter: drop-shadow(10px 10px 4px #760c0c)
}